.search-bar-container {
    display: flex;
    justify-content: center;
    padding-top: 9em;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 60%;
    height: 4em;
    border-radius: 5em;
    background-color: #f6f5f5;
    -webkit-box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
}

.search-option {
    width: 40%;
    height: 100%;
}

.search-option p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.search-btn {
    width: 12em;
    border-radius: 5em;
    border-style: none;
    background-color: #ee6f57;
    color: #f6f5f5;
}

.search-btn:focus {
    outline-style: none;
}