.background-container {
    background-image: url(../../../public/images/preikestolen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
}

.index-container {
    height: 100%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}