.form-container {
    display: flex;
    justify-content: center;
}

.add-agent-form {
    width: 25%;
    padding-top: 0.6em;
}

.btn-custom-add-agent {
    margin-bottom: 1em;
    background-color: #1f3c88;
    border: none;
    color: #FFF;
    width: 100%;
}

.btn-custom-add-agent:hover {
    background-color: #ee6f57;
    color: #FFF;
}