.add-btn-container {
    display: flex;
    justify-content: flex-end;
}

.add-btn {
    margin-bottom: 1em;
    background-color: #1f3c88;
    border: none;
    color: #FFF;
}

.add-btn:hover {
    background-color: #ee6f57;
}

.form-text {
    font-size: 0.8em;
}