.slick-slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.slick-prev:before,
.slick-next:before {
    color: #1f3c88 !important;
    font-size: 22px !important;
    opacity: 1 !important;
}

.slick-arrow {
    margin-top: 5em !important;
}